/* pallette: https://coolors.co/11151c-212d40-485265-818fa0-9599a5 */

.page-body {
    font-family: 'Muli', sans-serif;
}
.nav-section {
    max-width: 1024px;
    padding-top: 60px;
}
.callout-section {
    margin: 20px 0px;
    padding: 10px;
}

.logo {
    filter: drop-shadow(1px 1px 1px white);
}

.hero {
    color: white;
    min-height: 600px;
    background-image: url('../images/abstract-marble-green.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Copse', serif;
    padding: 0px;
}

.hero-title {
    color: #212d40;
    padding: .5em;
    text-align: center;
    opacity: .9;
    font-family: 'Copse', serif;
    font-weight: lighter;
}

#navbar-main {
    background-color: white;
    font-family: 'Copse', serif;
}

#navbar-main a {
    color: #212d40;
}

.navbar-mobile {
    color: #212d40;
    font-family: 'Copse', serif;
}

.navbar-mobile a {
    color: #212d40;
}

.dark-text {
    color: #212d40;
}

.bg-sea-green {
    background-color: #59bfbd;
}

.bg-dark-blue {
    background-color: #212d40;
}

.bg-dark2 {
    background-color: #443737;
}

.image-size200 {
    height: 300px;
    max-width: 300px;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
}

.answer {
    margin-left: 25px;
}

.info-section {
    color: #212d40;
    padding: .5em;
    text-align: center;
    opacity: .9;
    font-family: 'Copse', serif;
}

.info-section-parallax {
    height: 3em;

    background-image: url('../images/hero3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-section {
    color: white;

    background-image: url('../images/office_view.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    color: white;
    background-color: #212d40;
}

.spwidget-button-wrapper {
    text-align: center
}

.spwidget-button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff !important;
    background: #de6a26;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.spwidget-button:hover {
    background: #d15913
}

.spwidget-button:active {
    color: rgba(255, 255, 255, .75) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset
}

.parallax {

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero1 {
    background-image: url("../images/abstract-marble-green.jpg");
}
.hero2 {
    background-image: url("../images/abstract-marble-green.jpg");
}

.follow-icon {
    font-size: 1.75em;
    margin-left: .5em;
}